<div class='sign-up-in-tile'>

<%= link_to "Sign Up", root_path %>

<div class='container'>
      <div class='row'>
        <div class='col-md-2'></div>
          <div class='col-md-8'>
            <div class='row'>
              <div class='col-md-6'>
                <img src='https://wallpaperplay.com/walls/full/3/2/3/215274.jpg'>
              </div>
              <div class='col-md-6'>
                <ul>
                  <a href='<%= new_session_path %>'>Sign In</a>
                  <a class='a_signup' href='<%= root_path %>'> / Sign Up</a>
                </ul>
                <label class='label control-label'>Email</label>
                <input type='Email' class='form-control' name='email' placeholder='Email'>
                <label class='label control-label'>Password</label>
                <input type='password' class='form-control' name='password' placeholder='Password'>
              </div>
            </div>
        </div>
        <div class ='col-md-2'></div>
      </div>
    </div>


<h1>Sign in to Acebook</h1>
<%= flash[:invalid_details] %>
<br>

  <%= form_tag sessions_path do %>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %><br>

    <%= label_tag :password %><br />
    <%= password_field_tag :password %><br>

    <br><%= submit_tag "Sign In" %>

  <% end %>

</div>
