<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>ACEBOOK</h1>
    <div class='container'>
      <div class='row'>
        <div class='col-md-2'></div>
          <div class='col-md-8'>
            <div class='row'>
              <div class='col-md-6'>
                <img src='https://wallpaperplay.com/walls/full/3/2/3/215274.jpg'>
              </div>
              <div class='col-md-6'>
                <ul>
                  <a href='<%= new_session_path %>'>Sign In</a>
                  <a class='a_signup' href='<%= root_path %>'> / Sign Up</a>
                </ul>
                  <%= bootstrap_form_for(@user, url: users_path) do |f| %>

                  <%= f.text_field :name, label: "Name" %><br>
                 ​
                  <%= f.text_field :email, label: "Email" %><br>

                  <%= f.password_field :password, label: "Password" %><br>
                 ​
                  <%= f.password_field :password_confirmation, label: 'Password Confirmation' %> <br>
                 ​
                  <%= f.submit "Signup" %>

                <% end %>
              </div>
            </div>
          </div>
        <div class ='col-md-2'></div>
      </div>
    </div>
    
    <%= flash[:have_to_log_in_error] %>

      <% if @user.errors.any? %>
         <div id="error_explanation">
           <h3>
             <%= pluralize(@user.errors.count, "error") %>
           </h3>
           <% @user.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
           <% end %>
         </div>
       <% end %>

    </div>

  </body>

</html>